<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch">
      <!-- <arg name="world_name" value="$(find tracer_mini)/worlds/tracer_mini_test.world"/> -->
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
  </include>
  
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>

  <param
    name="robot_description"
    command="$(find xacro)/xacro $(find tracer_mini)/urdf/tracer_mini.urdf.xacro"/>
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-urdf -model tracer_mini -x $(arg x) -y $(arg y) -z $(arg z) -param robot_description"
    output="screen" />

  <!-- <node
    name="map_to_odom_tf_broadcaster"
    pkg="tf2_ros"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 map odom" /> -->

  <!-- <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" /> -->
</launch>